# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [2]:
int_num = 13

print(int_num)
print(type(int_num))

13
<class 'int'>

##### Assinging float

In [3]:
float_num = 13.32

print(float_num)
print(type(float_num))

13.32
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [5]:
#int+int = int
#int+float = float
#float+float = float



num1 = 13
num2 = 21

result = num1 + num2

print(result)

#short-hand version
result += 10

print(result)

34
44

##### Subtraction

In [7]:
result_diff = num2-num1
print(result_diff)
#short-hand version
result_diff-=1
print(result_diff)

8
7

##### Multiplication

In [8]:
result_prod = num1 * num2
print(result_prod)
#short-hand version
result_prod *=5
print(result_prod)

273
1365

##### Division

In [11]:
result_div = num2 / num1
print(result_div)

new_result = 20/10
print(new_result)
print(type(new_result))
#division always returns float

#short-hand version
result_div /=2
print(result_div)

1.6153846153846154
2.0
<class 'float'>
0.8076923076923077

##### Floor Division

In [14]:
#also referred to as Integer Division
result_floor = num2 // num1
print(result_floor)
print(type(result_floor))
#short-hand version
result_floor //= 2
print(result_floor)

1
<class 'int'>
0

##### Modulo

In [16]:
#return remainder of division expression
num3 = 48
num4 = 5

result_mod = num3 % num4
print(result_mod)

#short-hand version
result_mod %= 2 
print(result_mod)

3
1

##### Exponential

In [18]:
num1=2
num2=5

square = num2 ** num1
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [20]:
name1 = "Tyler"
print(name1)
print(type(name1))

Tyler
<class 'str'>

In [21]:
name2 = 'Miller'
print(name2)
print(type(name2))

Miller
<class 'str'>

In [23]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [24]:
contraction2 = 'You can't do that"
print(contraction2)

SyntaxError: invalid syntax (3918633583.py, line 1)

In [25]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

##### Escape Characters

In [26]:
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [27]:
print('Hello
      my name is Tyler')

SyntaxError: EOL while scanning string literal (1019449408.py, line 1)

In [29]:
print('Hello \
my name is Tyler')

Hello my name is Tyler

In [30]:
# \n - newline character
print("Hello\nhow are you?")

Hello
how are you?

In [31]:
# \t - tab character
print("hello\thow are you?")

hello	how are you?

In [32]:
# Raw String
print(r"hello\n\thow are you?")

hello\n\thow are you?

##### String Concatenation

In [34]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + " " + last_name
print(full_name)

#short-hand version
full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

In [ ]:
num_a = 10
num_b = "10"

num_c = num_a + num_b
print(num_c)#error

##### Type Conversion

In [37]:
num_a = 10
num_b = "10" 

num_b_as_int = int(num_b)

print(num_b, type(num_b))
print(num_b_as_int, type(num_b_as_int))

num_c = num_a + num_b_as_int
print(num_c)

10 <class 'str'>
10 <class 'int'>
20

In [38]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [41]:
name = 'Tyler'
home = "South Dakota"
age = 30

# .format()
print("Hello my name is {} and I am {} years old and I am from {}".format(name, age ,home))

# f-strings
print(f"Hello my name is {name} and I am {age} years old and I am from {home}")

Hello my name is Tyler and I am 30 years old and I am from South Dakota
Hello my name is Tyler and I am 30 years old and I am from South Dakota

##### Old Way (python 2)

In [42]:
print("Hello my name is %s and I am from %s" % (name, home) )

Hello my name is Tyler and I am from South Dakota

In [43]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [56]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

print(f"I drive a {color} {int(year)+1} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [57]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [58]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [59]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is true')

Hello this is true

In [60]:
if False:
    print('Hello this is false')

In [63]:
print('Start Code')
    
if False:
    print('Hello')
    print('How are you')
    print('Well, you?')
        
print('End of code')

Start Code
End of code

In [67]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * 2)
print(num1 != num3)

True
True
True

In [65]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to the product of num2 and num3')
    
    
if num1 != num3:
    print('num1 and num3 are not equal')

num1 is greater than num2
num1 is double the value of num2
num1 and num3 are not equal

## Using 'and'/'or' with If Statements

In [73]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 3.1
potential_candidate_act= 27

if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Pass student along

In [72]:
potential_candidate_gpa = 2.3
potential_candidate_act= 21

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Reject student

### Else Statements

In [76]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 56


if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride :(')

Sorry, you are not tall enough to ride :(

### Elif Statements

In [77]:
# An elif only runs when the if (or elif) directly above it evaluates to False
required_age = 18
with_a_parent = 16

movie_goer_age = 17


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film.')
else:
    print('You are not old enough to see this film.')

You must be accompanied by an adult to see this film.

In [78]:
required_age = 18
with_a_parent = 16

movie_goer_age = 7


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

You are not old enough to see this film

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [95]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

person_age = int(input("What is your age? "))


if person_age >= 65:
    ticket*=.75
#     print('Your ticket is $7.50')
elif person_age < 10:
    ticket*=.5
#     print('Your ticket is $5.00')
else:
    ticket *= 1
#     print('Your ticket is $10.00')
    
print(f"Your ticket is ${ticket:.2f}")

What is your age? 35
Your ticket is $10.00

### Lists

##### Declaring Lists

In [100]:
list_1 = [] # Empty List Declaration

print(list_1)
print(type(list_1))

names = ['Ethan','Elshadai','Kyle', "Nicco","Doug"]

print(names)
print(type(names))

[]
<class 'list'>
['Ethan', 'Elshadai', 'Kyle', 'Nicco', 'Doug']
<class 'list'>

##### Indexing a List

In [102]:
# [start: stop: step] *start is inclusive, stop is exclusive
#0-based index

# Single Index
print(names[2])

# Slice the list at index 1 all the way to the end of the list
print(names[1:])

# Slice from the beginning of list to a certain index(but not including)
print(names[:3])

# Slice the whole list -> make a copy
print(names[:])

# Slice every other element
print(names[::2])

#Negative numbers start from the back
print(names[-2])

#Negative step will walk backwards through the list
print(names[::-1])

# Some combo of them all
print(names[1:4:2])

Kyle
['Elshadai', 'Kyle', 'Nicco', 'Doug']
['Ethan', 'Elshadai', 'Kyle']
['Ethan', 'Elshadai', 'Kyle', 'Nicco', 'Doug']
['Ethan', 'Kyle', 'Doug']
Nicco
['Doug', 'Nicco', 'Kyle', 'Elshadai', 'Ethan']
['Elshadai', 'Nicco']

In [103]:
# Lists are mutable - meaning you can change the values
# Item assignment - list[index] = value

print(names)
names[1] = "Dante"
print(names)

['Ethan', 'Elshadai', 'Kyle', 'Nicco', 'Doug']
['Ethan', 'Dante', 'Kyle', 'Nicco', 'Doug']

In [104]:
#strings are immutable- meaning you can't change the values

my_string = 'hello world'

print(my_string[0:5])
my_string[0] = 'H'
print(my_string)

hello

TypeError: 'str' object does not support item assignment

##### .append()

In [106]:
# list.append(value_to_append) - adds value to END of the list
print(names)

names.append('Tre')
print(names)

['Ethan', 'Dante', 'Kyle', 'Nicco', 'Doug']
['Ethan', 'Dante', 'Kyle', 'Nicco', 'Doug', 'Tre']

##### .insert()

In [107]:
# list.insert(index,value) - adds value to the list at index
print(names)

names.insert(3, 'Chris')
print(names)

['Ethan', 'Dante', 'Kyle', 'Nicco', 'Doug', 'Tre']
['Ethan', 'Dante', 'Kyle', 'Chris', 'Nicco', 'Doug', 'Tre']

##### .pop()

In [108]:
# list.pop(index)- removes element at index position
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)
removed_name = names.pop()
print(names)
print(removed_name)

['Ethan', 'Dante', 'Kyle', 'Chris', 'Nicco', 'Doug', 'Tre']
['Ethan', 'Dante', 'Kyle', 'Chris', 'Nicco', 'Doug']
Tre

In [109]:
another_name = names.pop(2) #removing at index
print(names)
print(another_name)

['Ethan', 'Dante', 'Chris', 'Nicco', 'Doug']
Kyle

In [116]:
names.append('Dante')
print(names)

['Ethan', 'Dante', 'Chris', 'Nicco', 'Doug', 'Tyler', 'Tyler', 'Tyler', 'Tyler', 'Dante', 'Dante', 'Dante']


##### .remove()

In [117]:
# list.remove(value) - value to be removed , not index

names.remove("Dante")
print(names)

['Ethan', 'Chris', 'Nicco', 'Doug', 'Tyler', 'Tyler', 'Tyler', 'Tyler', 'Dante', 'Dante', 'Dante']

##### del()

In [118]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del names [6]
print(names)

['Ethan', 'Chris', 'Nicco', 'Doug', 'Tyler', 'Tyler', 'Tyler', 'Dante', 'Dante', 'Dante']

#### .index()

In [120]:
# list.index(value) - the index of the first item to match the value

print(names.index('Doug'))
print(names)

3
['Ethan', 'Chris', 'Nicco', 'Doug', 'Tyler', 'Tyler', 'Tyler', 'Dante', 'Dante', 'Dante']

#### .clear()

In [121]:
# removes all values from a list

names.clear()
print(names)

[]

##### Concatenating Two Lists

In [122]:
# will append two lists together, not add up the elements in each list

list_a = [1,2,3]
list_b = [4,5,6]
list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [125]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['Tre', 'Kam', 'Ryan', ['Larry', 'Leo', 'Dylan']]

print(names)
print(names[3])
print(type(names[3]))
print(names[3][0])

names[3].append('Ethan')

print(names)

['Tre', 'Kam', 'Ryan', ['Larry', 'Leo', 'Dylan']]
['Larry', 'Leo', 'Dylan']
<class 'list'>
Larry
['Tre', 'Kam', 'Ryan', ['Larry', 'Leo', 'Dylan', 'Ethan']]

### For Loops

In [131]:
# for <keyword> in <iterable>:
#     <statement>

print('Begin loop')

for num in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(num)
    
print('End loop')

Begin loop
5
10
15
20
25
30
35
40
End loop

In [130]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

##### Continue Statement

In [133]:
list_to_use = [10,20,30,40,50,60,70,80,90]

In [ ]:
# will continue to next iteration

In [135]:
for element in list_to_use:
    if element == 50:
        continue
    print(element)
    print('')

10

20

30

40

60

70

80

90

##### Break Statement

In [ ]:
# will break out of current loop

In [136]:
for element in list_to_use:
    if element == 50:
        break
    print(element)
    print('')

10

20

30

40

##### Pass Statement

In [137]:
# mostly used as a placeholder, and will continue on same iteration

for num in list_to_use:
    #do something here -- COME BACK AND FINISH IMPLEMENTATION
    pass
print('Hello world')

Hello world

In [138]:
for num in list_to_use:
    if num > 50:
        pass #TODO
    
    print(num)

10
20
30
40
50
60
70
80
90

In [139]:
def some_funt():
    pass

##### Nested/Double For Loops

In [143]:
my_nums = [1,2,3,4,5]

for i in my_nums:
    for j in my_nums:
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5

### While Loops

In [145]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0

print('Start while-loop')
while num < 10:
    print(num)
    num += 1
print('End while-loop')

Start while-loop
0
1
2
3
4
5
6
7
8
9
End while-loop

##### Looping 'While True'

In [146]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

### Built-In Functions

##### input()

In [149]:
# input(question) => ALWAYS RETURNS A STRING
answer = input('What is your answer to this question? ')

print(answer)
print(type(answer))

What is your answer to this question? cool
cool
<class 'str'>

In [151]:
age = int(input('How old are you? '))

age_in_five = age + 5

print(age_in_five)

How old are you? 30
35

In [154]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n: ')
    if keep_playing == 'n':
        break
    else:
        print("Let's start again!")

Would you like to keep playing this game? y/n: y
Let's start again!
Would you like to keep playing this game? y/n: no
Let's start again!
Would you like to keep playing this game? y/n: n

##### range()

In [155]:
# range(stop) -> goes from 0 up to but not including stop
#Start, Stop, Step
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
# range(start,stop,step=1) -> goes from start to stop by step

list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [157]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

##### len()

In [158]:
# check Length of variable
cities = ['Chicago', 'New York', 'Los Angeles', 'Seattle']

print(len(cities))

4

In [160]:
name = 'Kashtyn Aiko'
print(len(name))

12

In [162]:
#use to find the cities with corresponding index
for index in range(len(cities)):
    print(index, cities[index])

0 Chicago
1 New York
2 Los Angeles
3 Seattle

##### help()

In [161]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [163]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

some_num = 45

print(isinstance(some_num,int))
print(isinstance(some_num,float))

True
False

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [176]:
num = 1

while num ** 3 <= 1000:
    print(num ** 3)
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [208]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101):
    for j in range(2,101):
        if i % j == 0:
            break
    if i == j:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [165]:
user_input = int(input("What is your age? "))

if user_input < 18:
    print('kids')
else:
    print('seniors')

What is your age? 5
kids